﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap-select.min.css")
    @Styles.Render("~/Content/bootstrap-datepicker.min.css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Grāmatu pārvaldības lietotne", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Izdevniecības<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Create", "Publisher")">Izveidot</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Publisher", new { offset = 0 })">Saraksts</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Autori<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Create", "Author")">Izveidot</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Author", new { offset = 0 })">Saraksts</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grāmatas<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Create", "Book")">Izveidot</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Book", new { offset = 0 })">Saraksts</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="@Url.Action("GetReportAboutBooks", "Home")">Atskaite</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
  
    @RenderBody()
    
    <hr />
    <footer>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootstrap-select.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.min.js")
    @RenderSection("JavaScript", required: false)
</body>
</html>
