﻿@{
    ViewBag.Title = "Delete";
    string operationStatus = (string)ViewData["status"];
    string message = (string)ViewData["message"];
}

<div class="container">
    <div style="margin-top: 100px;" class="alert alert-@Html.Raw(operationStatus)" role="alert">
        @Html.Raw(message)
    </div>
</div>
