﻿@{
    int pageOffset = (int)ViewData["offset"];
    int prevOffset = (int)ViewData["prevOffset"];
    string pageActionName = (string)ViewData["action"];
    string pageControlerName = (string)ViewData["controller"];
}

<nav>
    <ul class="pager">
        <li class="previous @if (prevOffset == -1) {@Html.Raw("disabled")}">
            <a href="@if (prevOffset == -1) {@Html.Raw("#")} else {@Url.Action(pageActionName, pageControlerName, new{offset = prevOffset})}"><span aria-hidden="true">&larr;</span> Previous</a>
        </li>
        <li class="next @if (pageOffset == -1) {@Html.Raw("disabled")}">
            <a href="@if (pageOffset == -1) {@Html.Raw("#")} else {@Url.Action(pageActionName, pageControlerName, new{offset = pageOffset})}">Next <span aria-hidden="true">&rarr;</span></a>
        </li>
    </ul>
</nav>
