﻿
@using md2.Models

@{
    ViewBag.Title = "Autora izveide";

    IEnumerable<Tweet> tweets = new List<Tweet>();
    bool editing = false;
    bool repopulate = false;
    bool validationError = false;
    authors author = null;

    string authorId = "";
    string authorName = "";
    string authorSurname = "";
    string address = "";

    if (ViewData["repopulate"] != null)
    {
        repopulate = true;
        authorName = (string)ViewData["authorName"];
        authorSurname = (string)ViewData["authorSurname"];
        address = (string)ViewData["address"];
    }

    if (ViewData["validationError"] != null)
    {
        validationError = true;
    }

    if (ViewData["author"] != null)
    {
        editing = true;
        author = (authors)ViewData["author"];
        authorId = author._id.ToString();
        ViewBag.Title = author.au_fname + " " + author.au_lname;

        tweets = ViewBag.tweets as IEnumerable<Tweet>;

        authorName = author.au_fname;
        authorSurname = author.au_lname;
        address = author.address;
    }
}

<div class="container">
    <h2 style="margin-bottom: 30px;">
        @if (editing)
        {
            @Html.Raw("Autors <strong>\"" + author.au_fname + " " + author.au_lname + "\"</strong>");
        }
        else
        {
            @Html.Raw("Jaunas autora izveide");
        }
    </h2>
    <form method="post" action="@if (!editing) {@Url.Action("Create", "Author")} else{@Url.Action("Edit", "Author")}" class="form-horizontal">
        <div style="margin-top: 20px;" class="alert alert-danger @if (!validationError) {@Html.Raw("hidden")}" role="alert">
            Visi lauki ir obligāti!
        </div>
        <div class="form-group">
            <label for="authorName" class="col-md-2 control-label">Autora vārds</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="authorName" id="authorName" value="@if (editing || repopulate) {@Html.Raw(authorName)}" placeholder="@Html.Raw("Vārds")">
            </div>
        </div>
        <div class="form-group">
            <label for="authorSurname" class="col-md-2 control-label">Autora uzvārds</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="authorSurname" id="authorSurname" value="@if (editing || repopulate) {@Html.Raw(authorSurname)}" placeholder="@Html.Raw("Uzvārds")">
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-md-2 control-label">Adrese</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="address" id="address" value="@if (editing || repopulate) {@Html.Raw(address)}" placeholder="@Html.Raw("Adrese")">
            </div>
        </div>
        <input name="authorId" value="@if (editing) {@Html.Raw(authorId)}" class="hidden" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="authorCreateEdit" type="submit" class="btn btn-primary">
                    @if (editing)
                    {
                        @Html.Raw("Saglabāt");
                    }
                    else
                    {
                        @Html.Raw("Izveidot");
                    }
                </button>
                <a style="margin-right: 55px;" class="btn btn-danger @if (!editing) {@Html.Raw("hide")}" href="@Url.Action("Delete", "Author", new { id =  authorId})">Dzēst</a>
                <a class="btn btn-default" href="javascript:history.back()">Atpakaļ</a>
            </div>
        </div>

    </form>
    <hr />
    <div>
        <h2>Tweeti par autoru</h2>
        @foreach (Tweet tw in tweets)
        {
            <div class="row" style="margin-bottom: 15px;">
                <div>
                    <img src="@Html.Raw(tw.author.image)" class="img-circle" alt="Author" style="float: left">
                    <p style="float: left">@Html.Raw(tw.author.screen_name)</p>
                    <p style="float: left; margin-left: 8px;"> @Html.Raw((DateTime.Now - tw.timestamp).Days) days ago</p>
                </div>
                <div class="clearfix"></div>
                <p class="TweetTextSize  js-tweet-text tweet-text" lang="en" data-aria-label-part="0">
                    @Html.Raw(tw.message.text)
                </p>
            </div>


        }
    </div>
</div>
