﻿@using md2.Models;
@{
    ViewBag.Title = "Autori";
    List<authors> pageData = (List<authors>)ViewData["authorsPage"];
    int prevOffset = (int)ViewData["prevOffset"];
    string pageControlerName = (string)ViewData["controller"];
}

<div class="container">
    <h2>Autori</h2>
    <div class="list-group">
        @if (pageData.Count == 0)
        {
            string label = "";
            if (prevOffset == -1)
            {
                label = "Lietotnē nav reģistrēta neviena autora!";
            }
            else
            {
                label = "Šajā lapā nav neviena ieraksta!";
            }
            @Html.ActionLink(label, "", "", new { @class = "list-group-item active empty", href = "#" })
        }
        else
        {
            foreach (authors author in pageData)
            {
                @Html.ActionLink(author.au_fname + " " + author.au_lname, "", "", new { @class = "list-group-item authListEle", href = @Url.Action("Details", pageControlerName, new { id = author._id.ToString() }), data_id = author._id.ToString() });
            }

        }

    </div>
    @Html.Partial("~/Views/Shared/PageControl.cshtml", ViewData)
</div>
