﻿@{
    ViewBag.Title = "Sākums";
}

<div class="jumbotron startJumb">
    <div class="container">

        <h2>Grāmatu pārvaldības tīmekļa lietotne</h2>
        <p>Lietotne realizē CRUD operācijas ar grāmatām, izdevniecībām un grāmatu autoriem. <br /> Programma izstrādāta ar ASP.NET MVC ietvaru</p>
    </div>
</div>
<div class="row">
    <div class="container">
        <h3>Izmantotās servera puses tehnoloģijas</h3>
        <ul>
            <li>C#</li>
            <li>ASP.NET MVC</li>
            <li>MongoDB</li>
        </ul>
        <h3>Izmantotās klienta puses tehnoloģijas</h3>
        <ul>
            <li>Javascript</li>
            <li>HTML5</li>
            <li>CSS3</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="container">
        <h2>Sistēmas vispārīgs apraksts</h2>
        <p>
            Sistēmas ļauj tās lietotājam darboties ar 3 entītijām:
            <ul>
                <li>Izdevniecības</li>
                <li>Grāmatu autori</li>
                <li>Grāmatas</li>
            </ul>

            Sistēma ļauj lietotājam veikt CRUD operācijas ar visām 3 entītijām.
            <br/>
            Izdevniecības un autoru entītijas ir relatīvi triviālas, grāmatu entitija ir nedaudz sarežģītāka, tā ir saistīta ar izdevniecībām un grāmatām.
            Skatīt vispārīgo saistību shēmā:
            <br/>
            <img src="~/Assets/sql_shema.PNG" />
            <br/>
            <small><em>Sākotnējā MSSQL shēma</em></small>
        </p>
        <h3>Kas tika darīts?</h3>
        <p>
            Lai realizētu šo mājas darbu, par pamatu izvēlējos izmantot savu projektu, kuru izstrādāju bakalaura C# kursa mājasdarbā tālajā 2015 gadā...
            <br/>
            Attiecīgi, gandrīz visa funkcionalitāte un saskarne jau bija izveidota, bet problēma bija tā, ka risinājums glabāja datus MSSQL datubāzē.
            <br/>
            Mans papildus veiktais pienesums šim darbam bija:
            <ul>
                <li>Papildināju Visual studio projektu ar nepieciešamajām pakotnēm, lai risinājums mācētu pieslēgties un strādāt pie MongoDB datubāzes</li>
                <li>Izveidoju klasi, kas slēdzas pie MongoDB, atgriež nepieciešamos resursus (<em>Models/MongoClientClass.cs</em>)</li>
                <li>
                    Izveidoju datu importēšanas metodi, kas nolasa datus no MSSQL tabulām, importē datus MongoDB datubāzē (<em>Controllers/HomeController.cs@MigrateToMongoDB</em>)
                </li>
                <li>
                    Veicu modifikācijas lietotnes modeļos, kontrolleros un skatos, lai risinājums korekti strādātu ar MongoDB datubāzi
                    <ul>
                        <li>Katram esošajam modelim tika izveidots jauns modelis, kas manto no sākotnējā modeļa metodes, overloado metodes, lai strādātu ar MongoDB nevis ar MSSQL
                            <br/>
                            (<em>iekš Models/ faili, kuri beidzas ar 'MongoModel.cs'</em>)</li>
                        <li>Tika papildinātas 'Mapping' klases, kuras sākotnēji ģenerēja automātiski EntityFramework no MSSQL, tā, ka tās varēja arī samērā nesāpīgi izmantot, kad tika lasīti / rakstīti dati MongoDB,
                            <br/>
                            Šī modifikācija ļāva nepārrakstīt lielu daļu no projekta koda (kontrolleri un skati), vajadzēja veikt tikai nelielas modifikācijas šajos koda fragmentos, lai lietotne korekti strādātu</li>
                            
                            (<em>Models/authors.cs, Models/publishers.cs, Models/titles.cs</em>)
                        <li>Kontrolleros tika aizstāts, lai izmanto jaunos modeļus, attiecīgi, find and replace new Model -> new MongoModel</li>
                        <li>Kontrolleros un skatos pamainīti daži lauki, galvenokārt vecie id lauki nomainīti uz jaunajiem MongoDB nosaukumiem, jo netika importēti vecie id lauki jaunajā datubāzē</li>
                    </ul>
                </li>
                <li>Izveidota vienkārša atskaitīte</li>
            </ul>

         </p>
        <h3>Datu struktūra iekš MongoDB</h3>
        <p>Iekš MongoDB tika izveidota autoru ('authors'), izdevniecību ('publishers'), grāmatu ('titles') kolekcijas
            <br/>
            Grāmatu un autoru m-m relācija tika realizēta no vienas puses ar referenču masīva palīdzību, attiecīgi, iekš grāmatas ir lauks 'authors', kas ir masīvs ar identifikatoriem, kas referencē autoru kolekciju
            <br/>
            No otras puses relācija netika veikta, jo lietotnē nekur nebija nepieciešamības pēc šādas informācijas.
            <br/>
            Grāmatām saistība, ka tām ir viena izdevniecība, arī tika realizēta ar 'publisher' references lauka palīdzību.
            <br/>
            Es izvēlējos izmantot references nevis iekļaut datus pa tiešo iekšā, jo tas atviegloja datu konsistences uzturēšanu.
        </p>

    </div>
</div>

<div class="row">
    <div class="container">
        <h2>Izmantotie avoti</h2>
        <p>
            Zemāk redzami galvenie avoti, kurus izmantoju realizējot šī darba papildinājumus
            Bez uzskaitītajiem izmantoju arī google/stackoverflow, kad bija kaut kādas problēmas etc.
        </p>

        <ul>
            <li><a target="_blank" href="https://docs.mongodb.com/getting-started/csharp/">MongoDB izmantošana iekš C#</a></li>
            <li><a target="_blank" href="https://www.codementor.io/pmbanugo/working-with-mongodb-in-net-1-basics-g4frivcvz">Working with MongoDB in .NET (Parts 1-3)</a></li>
            <li><a target="_blank" href="http://www.c-sharpcorner.com/article/learn-mongodb-step-by-step/">Izmantoju, lai instalētu uz datora, ieslēgtu datubāzi, pieslēgtos ar klientu pie datubāzes, palaistu vienkāršas komandas no klienta</a></li>
            <li><a target="_blank" href="http://www.c-sharpcorner.com/article/simple-crud-operation-using-asp-net-mvc-and-mongodb/">Nedaudz kaut ko paskatījos, lai ieinstalētu vajadzīgās pakas iekš visual studio</a></li>
            <li>Estudiju prezentācijas, lai izlemtu, kuru NoSQL datubāzi izvēlēties</li>
        </ul>

    </div>
</div>

<div class="row" style="margin-top: 60px;">
    <div class="container">
        <h2>Lietotni modificēja: <em>Matīss Zērvēns (modifikācijas datums: 28.10.2018)</em></h2>
    </div>
</div>

