﻿
@{
    ViewBag.Title = "Whoops!";
}

<div class="container">
    <div class="center-block">
        <img style="margin-top:100px; margin-bottom: 10px;" src="@Url.Content("/Assets/sadCat.jpg")" class="img-rounded" alt="Sad cat">
        <h3>We can't seem to connect to our database. Please try again in a few minutes!</h3>
    </div>
</div>
