﻿@{
    ViewBag.Title = "Atskaite";
}

@using MongoDB.Bson
@{
    List<BsonDocument> publBooks = (List<BsonDocument>) ViewData["publisherBookInfo"];


}


<div class="container">
    <h2>Atskaite</h2>
    <h3>Izdevniecību grāmatu skaits</h3>

    @foreach (BsonDocument data in publBooks)
    {
        @Html.Raw("<label><strong>"+data["pub_name"] +"</strong> " + data["count"] + "</label><br/>");

   // @Html.ActionLink(title.title, "", "", new { @class = "list-group-item titleListEle", href = @Url.Action("Details", pageControlerName, new { id = title._id.ToString() }), data_id = title._id.ToString() });
    }

</div>
