﻿@{
    ViewBag.Title = "Sākums";
}


<div class="jumbotron startJumb">
    <div class="container">
        <h2 style="color: pink;">
            Sākotnējā projekta apraksts, vairs nav aktuāls
        </h2>

        <a href="@Url.Action("Apraksts2", "Home")"><strong>Aktuālais lietotnes apraksts</strong></a>

        <h2>Grāmatu pārvaldības tīmekļa lietotne</h2>
        <p>Lietotne realizē CRUD operācijas ar grāmatām, izdevniecībām un grāmatu autoriem. <br /> Programma izstrādāta ar ASP.NET MVC ietvaru</p>
    </div>
</div>

<div class="row">
    <div class="container">
    <h3>Izmantotās servera puses tehnoloģijas</h3>
    <ul>
        <li>C#</li>
        <li>ASP.NET MVC</li>
        <li>EntityFramework ORM</li>
        <li>MS SQL</li>
    </ul>

    <h3>Izmantotās klienta puses tehnoloģijas</h3>
    <ul>
        <li>Javascript</li>
        <li>HTML5</li>
        <li>CSS3</li>
    </ul>
    </div>
</div>

<div class="row">
    <div class="container">
        <h2>Papildus lauki</h2>
        <h3>Izdevniecība</h3>
        <p>Lai realizētu adreses lauku, izmantoju esošo <b>publisher.state</b> lauku, kuru pagarināju datubāzē. <br />
           Sākotnējos datus nemodificēju, šiem ierakstiem adreses laukā rādīsies ASV štata saīsinājums.
        </p>
        <h3>Grāmatas</h3>
        <p>Izdošanas gada informācijas glabāšanai izmantoju <b>title.royalty</b>. <br />
            Sākotnējos datus nemodificēju, šiem ierakstiem nav sakarīga šī lauka informācija. 
            Šim laukam neesmu izveidojis validāciju, kur pārbauda gada 'sakarīgumu' / sakritību ar izdošanas datuma lauku.
        </p>

        <p><strong>Modificētais sql skripts pieejams <a target="_blank" href="sql.txt">šeit</a>.</strong></p>

    </div>
</div>


<div class="row">
    <div class="container">
        <h2>Izmantotie avoti</h2>
        <p>
            Papildus avoti tika izmantoti galvenokārt, lai realizētu modeļu funkcionalitāti (attiecīgi entity framework lietošana).
            Daži piemēri:
        </p>
        
        <ul>
            <li><a target="_blank" href="http://stackoverflow.com/questions/3356541/entity-framework-linq-query-include-multiple-children-entities">Entity framework linq query Include() multiple children entities</a></li>
            <li><a target="_blank" href="http://stackoverflow.com/questions/19130983/insert-operation-with-many-to-many-relationship-using-ef">Insert operation with many-to-many relationship using EF</a></li>
            <li><a target="_blank" href="http://stackoverflow.com/questions/4700323/how-to-get-the-sql-generated-by-the-entity-framework">How to get the sql generated by the entity framework</a></li>
        </ul>
        <p>Kontrolleru un skatu funkcionalitātes izveidē izmantoju pārsvarā savu pieredzi ar citām serveru puses Web tehnoloģijām (PHP, Python)</p>
    </div>
</div>


<div class="row" style="margin-top: 60px;">
    <div class="container">
        <h2>Lietotni izstrādāja: <em>Matīss Zērvēns</em></h2>
    </div>

</div>
