﻿@using md2.Models
@{
    int authorId = (int)ViewData["id"];
    List<authors> authors = (List<authors>)ViewData["data"];
    string selectedIndex = (string)ViewData["selectedIndx"];
    string selected = "";
    int iter = 0;
}

<div class="form-group auth">
    <div class="col-md-3">
        <select data-live-search="true" class="form-control authorSelect" name="author-@Html.Raw(authorId)" id="author-@Html.Raw(authorId)">
            <option value="">Autors</option>
            @foreach (authors auth in authors)
            {
                if (selectedIndex == auth._id.ToString())
                {
                    selected = "selected";
                }
                else
                {
                    selected = "";
                }

                @Html.Raw("<option " + selected + " value=\"" + auth._id.ToString() + "\">" + auth.au_fname + " " + auth.au_lname + "</option>");
                iter++;

            }
        </select>
    </div>
    <button data-id="author-@Html.Raw(authorId)" class="col-md-1 removeAuthor">Noņemt</button>
</div>
