﻿@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/Scripts/books.js")"></script>
}

@using md2.Models
@{
    ViewBag.Title = "Grāmatas izveide";
    IEnumerable<Tweet> tweets = new List<Tweet>();
    bool editing = false;
    bool repopulate = false;
    bool validationError = false;
    string selectedPublisher = "";
    titles title = null;
    List<publishers> pubs = null;

    string titleId = "";
    string titleName = "";
    string titleDate = "";
    string titleYear = null;

    if (ViewData["repopulate"] != null)
    {
        repopulate = true;
        titleName = (string)ViewData["titleName"];
        titleDate = (string)ViewData["titleDate"];
        titleYear = (string)ViewData["titleYear"];
        selectedPublisher = (string)ViewData["selectedPub"];
    }

    if (ViewData["validationError"] != null)
    {
        validationError = true;
    }

    if (ViewData["bookTitle"] != null)
    {
        editing = true;
        title = (titles)ViewData["bookTitle"];
        tweets = ViewBag.tweets as IEnumerable<Tweet>;
        titleId = title._id.ToString();
        ViewBag.Title = title.title;

        titleName = title.title;
        titleDate = title.pubdate.ToString();
        titleYear = title.royalty.ToString();
        selectedPublisher = title.publishers._id.ToString();
    }

    if(ViewData["publishers"] != null)
    {
        pubs = (List<publishers>)ViewData["publishers"];
    }
}

    <div class="container">
        <h2 style="margin-bottom: 30px;">
            @if (editing)
        {
            @Html.Raw("Grāmata <strong>\"" + title.title + "\"</strong>");
    }
    else
    {
        @Html.Raw("Jaunas grāmatas izveide");
}
        </h2>
        <form method="post" action="@if (!editing) {@Url.Action("Create", "Book")} else{@Url.Action("Edit", "Book")}" class="form-horizontal">
            <div style="margin-top: 20px;" class="alert alert-danger @if (!validationError) {@Html.Raw("hidden")}" role="alert">
                Jānorāda grāmatas nosaukums, autors, izdevniecība un izdošanas gads / izdošanas datums!
            </div>
            <div class="form-group">
                <label for="titleName" class="col-md-2 control-label">Grāmatas nosaukums</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="titleName" id="titleName" value="@if (editing || repopulate) {@Html.Raw(titleName)}" placeholder="@Html.Raw("Nosaukums")">
                </div>
            </div>
            <div class="form-group">
                <label for="titleDate" class="col-md-2 control-label">Izdošanas datums</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="titleDate" id="titleDate" value="@if (editing || repopulate) {@Html.Raw(titleDate)}" placeholder="@Html.Raw("Izdošanas datums")">
                </div>
            </div>
            <div class="form-group">
                <label for="titleYear" class="col-md-2 control-label">Izdošanas gads</label>
                <div class="col-md-10">
                    <input type="number" class="form-control" name="titleYear" id="titleYear" value="@if (editing || repopulate) {if(titleYear != "-1"){@Html.Raw(titleYear)}}" placeholder="@Html.Raw("Izdošanas gads")">
                </div>
            </div>
            <div class="form-group">
                <label for="publisher" class="col-md-2 control-label">Izdevniecība</label>
                <div class="col-md-3">
                    <select data-live-search="true" class="form-control selectpicker" name="publisher" id="publisher">
                        <option value="">Izdevniecība</option>
                        @foreach (publishers p in pubs)
                    {
                        if (p._id.ToString() == selectedPublisher)
                        {
                            @Html.Raw("<option selected value=\"" + p._id.ToString() + "\">" + p.pub_name + "</option>");
                    }
                    else
                    {
                        @Html.Raw("<option value=\"" + p._id.ToString() + "\">" + p.pub_name + "</option>");
                }
            }
                    </select>
                </div>
            </div>
            <div style="margin-top: 50px; margin-left: 20px;" class="form-group">
                <h2>Grāmatas autori</h2>
                <button id="addAuthor" class="btn btn-primary btn-sm">Pievienot autoru</button>
            </div>
            <div style="margin-left: 20px;" id="authorContainer">
                @if (editing)
            {
                List<titleauthor> ta = title.titleauthor.ToList<titleauthor>();
                for (int i = 0; i < ta.Count; i++)
                {
                    @Html.Partial("~/Views/Book/AuthorEntity.cshtml", new ViewDataDictionary { { "id", i }, { "data", ViewData["allAuthors"] }, { "selectedIndx", ta[i].au_id } })
            }

        }
        else
        {
            @Html.Partial("~/Views/Book/AuthorEntity.cshtml", new ViewDataDictionary { { "id", 0 }, { "data", ViewData["allAuthors"] }, { "selectedIndx", "" } })
    }
            </div>
            <input name="titleId" value="@if (editing) {@Html.Raw(titleId)}" class="hidden" />
            <div style="margin-top: 80px;" class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button id="titleCreateEdit" type="submit" class="btn btn-primary">
                        @if (editing)
                    {
                        @Html.Raw("Saglabāt");
                }
                else
                {
                    @Html.Raw("Izveidot");
            }
                    </button>
                    <a style="margin-right: 55px;" class="btn btn-danger @if (!editing) {@Html.Raw("hide")}" href="@Url.Action("Delete", "Book", new { id =  titleId})">Dzēst</a>
                    <a class="btn btn-default" href="javascript:history.back()">Atpakaļ</a>
                </div>
            </div>
        </form>

        <hr />
        <div>
            <h2>Tweeti par grāmatu</h2>
            @foreach (Tweet tw in tweets)
            {
            <div class="row" style="margin-bottom: 15px;">
                <div>
                    <img src="@Html.Raw(tw.author.image)" class="img-circle" alt="Author" style="float: left">
                    <p style="float: left">@Html.Raw(tw.author.screen_name)</p>
                    <p style="float: left; margin-left: 8px;"> @Html.Raw((DateTime.Now - tw.timestamp).Days) days ago</p>
                </div>
                <div class="clearfix"></div>
                <p class="TweetTextSize  js-tweet-text tweet-text" lang="en" data-aria-label-part="0">
                    @Html.Raw(tw.message.text)
                </p>
            </div>


            }
        </div>
    </div>