﻿@using md2.Models;
@{
    ViewBag.Title = "Grāmatas";
    List<titles> pageData = (List<titles>)ViewData["booksPage"];
    int prevOffset = (int)ViewData["prevOffset"];
    string pageControlerName = (string)ViewData["controller"];
}

<div class="container">
    <h2>Grāmatas</h2>
    <div class="list-group">
        @if (pageData.Count == 0)
        {
            string label = "";
            if (prevOffset == -1)
            {
                label = "Lietotnē nav reģistrēta neviena grāmata!";
            }
            else
            {
                label = "Šajā lapā nav neviena ieraksta!";
            }
            @Html.ActionLink(label, "", "", new { @class = "list-group-item active empty", href = "#" })
        }
        else
        {
            foreach (titles title in pageData)
            {
                @Html.ActionLink(title.title, "", "", new { @class = "list-group-item titleListEle", href = @Url.Action("Details", pageControlerName, new { id = title._id.ToString() }), data_id = title._id.ToString() });
            }

        }

    </div>
    @Html.Partial("~/Views/Shared/PageControl.cshtml", ViewData)
</div>
