﻿@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/Scripts/publishers.js")"></script>
}

@using md2.Models
@{
    ViewBag.Title = "Izdevniecības izveide";
    bool editing = false;
    bool repopulate = false;
    bool validationError = false;
    publishers publisher = null;
    string publisherId = "";
    string pub_name = "";
    string country = "";
    string city = "";
    string address = "";
    
    if(ViewData["repopulate"] != null)
    {
        repopulate = true;
        pub_name = (string)ViewData["publisherName"];
        country = (string)ViewData["publisherCountry"];
        city = (string)ViewData["publisherCity"];
        address = (string)ViewData["publisherAddress"];
    }

    if (ViewData["validationError"] != null)
    {
        validationError = true;
    }

    if(ViewData["publisher"] != null)
    {
        editing = true;
        publisher = (publishers)ViewData["publisher"];
        publisherId = publisher._id.ToString();
        ViewBag.Title = publisher.pub_name;

        pub_name = publisher.pub_name;
        country = publisher.country;
        city = publisher.city;
        address = publisher.state;
    }
}


<div class="container">
    <h2 style="margin-bottom: 30px;">
        @if (editing)
        {
            @Html.Raw("Izdevniecība <strong>\"" + publisher.pub_name + "\"</strong>");
        }
        else
        {
            @Html.Raw("Jaunas izdevniecības izveide");
        }
    </h2>

    <form method="post" action="@if (!editing) {@Url.Action("Create", "Publisher")} else{@Url.Action("Edit", "Publisher")}" class="form-horizontal">

        <div style="margin-top: 20px;" class="alert alert-danger @if (!validationError) {@Html.Raw("hidden")}" role="alert">
            Jānorāda izdevniecības nosaukums un adreses vai nosaukums, pilsēta un valsts!
        </div>

        <div class="form-group">
            <label for="publisherName" class="col-md-2 control-label">Izdevniecības nosaukums</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="publisherName" id="publisherName" value="@if (editing || repopulate) {@Html.Raw(pub_name)}" placeholder="@Html.Raw("nosaukums")">
            </div>
        </div>

        <div class="form-group">
            <label for="publisherCountry" class="col-md-2 control-label">Valsts</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="publisherCountry" id="publisherCountry" value="@if (editing || repopulate) {@Html.Raw(country)}" placeholder="@Html.Raw("valsts")">
            </div>
        </div>

        <div class="form-group">
            <label for="publisherCity" class="col-md-2 control-label">Pilsēta</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="publisherCity" id="publisherCity" value="@if (editing || repopulate) {@Html.Raw(city)}" placeholder="@Html.Raw("pilsēta")">
            </div>
        </div>

        <div class="form-group">
            <label for="publisherAddress" class="col-md-2 control-label">Adrese</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="publisherAddress" id="publisherAddress" value="@if (editing || repopulate) {@Html.Raw(address)}" placeholder="@Html.Raw("adrese")">
            </div>
        </div>
        <input name="publisherId" value="@if (editing) {@Html.Raw(publisher._id.ToString())}" class="hidden" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="publisherCreateEdit" type="submit" class="btn btn-primary">
                    @if (editing)
                    {
                        @Html.Raw("Saglabāt");
                    }
                    else
                    {
                        @Html.Raw("Izveidot");
                    }

                </button>
                <a style="margin-right: 55px;" class="btn btn-danger @if (!editing) {@Html.Raw("hide")}" href="@Url.Action("Delete", "Publisher", new { id =  publisherId})">Dzēst</a>
                <a class="btn btn-default" href="javascript:history.back()">Atpakaļ</a>
            </div>
        </div>

    </form>
</div>
