﻿@{
    ViewBag.Title = "Izdevniecības";
    List<KeyValuePair<string, string>> pageData = (List<KeyValuePair<string, string>>)ViewData["publisherPage"];
    int prevOffset = (int)ViewData["prevOffset"];
    string pageControlerName = (string)ViewData["controller"];
}

<div class="container">
    <h2>Izdevniecības</h2>
    <div class="list-group">
        @if (pageData.Count == 0)
        {
            string label = "";
            if (prevOffset == -1)
            {
                label = "Lietotnē nav reģistrēta neviena izdevniecība!";
            }
            else
            {
                label = "Šajā lapā nav neviena ieraksta!";
            }
            @Html.ActionLink(label, "", "", new { @class = "list-group-item active empty", href = "#"})
        }
        else
        {
            foreach(KeyValuePair<string, string> publisher in pageData)
            {
                @Html.ActionLink(publisher.Value, "", "", new { @class = "list-group-item pubListEle", href = @Url.Action("Details", pageControlerName, new { id = publisher.Key }), data_id = publisher.Key })
            }

        }

    </div>
    @Html.Partial("~/Views/Shared/PageControl.cshtml", ViewData)
</div>
